.projectCard {
    background-color: #FFB5E2;
    padding: 10px 50px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.267);
}

.cardTitle {
    font-family: Akaya Telivigala;
    font-size: 38px;
    margin-bottom: 0px;

}

.cardSubtitle {
    font-family: Akaya Telivigala;
    font-size: 22px;
    margin-top: 2px;
    margin-bottom: 0px;
}