.contact-page {

    padding: 0 100px;

}

.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.textBold {
    font-weight: bold;
    font-size: 26px;
    font-family: "akaya telivigala";
    /*     text-align: center; */
}



.cardContact {
    background-color: #FFB5E2;
    border-radius: 10%;
    width: 400px;
    padding: 60px 20px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    /*  justify-content: center; 

    align-items: center; */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.267);
    margin-bottom: 40px;
}

.textBigger {
    margin-top: 20px;
    font-size: 18px;
    /*     text-align: center; */
}

.contactInfo {
    font-family: lato, sans-serif;
  
    gap: 16px;

}


.iconLinkText {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    display: block;
    margin-bottom: 20px;
}

.iconContact {
    width: 50px;
    object-fit: contain;
}