.contact-page {
    justify-content: center;
    padding: 0 100px;

}

.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.textBold {
    font-weight: bold;
    font-size: 26px;
    font-family: "akaya telivigala";
   text-align: center;
}
text {
    text-align: center;
}
.cardContact {
    background-color: #FFB5E2;
    border-radius: 10%;
    width: 400px;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.267);
    margin-bottom: 40px;
}